cleverhans==3.1.0
entrypoints==0.3
future==0.18.2
Jinja2==2.11.2
joblib==0.16.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.2.2
mistune==0.8.4
mnist==0.2.2
numpy==1.18.5
protobuf==3.12.2
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
sklearn==0.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-addons==0.10.0
tensorflow-estimator==2.2.0
tensorflow-probability==0.10.1
tf-explain==0.2.1
pandas==1.0.5
func-timeout==4.3.5
tqdm==4.48.0